<div class="container">
	<div class="row mt centered">
      <div class="col-lg 12">
        <h1>But How Does It Work?!?</h1>
      </div>
  </div><!-- /row -->
  <div class="row mt centered">
			<div class="col-lg-12">
				<h3>YouAds is an advertising platform that helps content creators monetize the amazing content they create by building a bridge between our top paying advertisers and you, the talented content creators!</h3>
			</div>
  </div>

    <div class="row mt centered">
			<div class="col-lg-3">
				<img src="assets/img/ser01.png" width="180" height="180" alt="">
				<h4>1 - Signup</h4>
				<p>Signup on our advertising platform</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<img src="assets/img/ser02.png" width="180" height="180" alt="">
				<h4>2 - Submit Your Video URL</h4>
				<p>Submit your awesome video content</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<img src="assets/img/ser03.png" width="180" height="180" alt="">
				<h4>3 - Share Your Content!</h4>
				<p>Share your amazing creations with your fanbase</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-3">
          <img src="assets/img/ser04.png" width="180" height="180" alt="">
          <h4>4 - Get Paid $$$</h4>
          <p>We pay you the earnings from our advertisers!</p>
      </div><!--/col-lg-4 -->
    </div>
</div><!-- /container -->

