<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 dashcolMain">
      <div class="row dashTitle">
        <div class="col-12 dashcol">
            <div class="container dashTitleTextContainer">
                <h1 class="dashTitleText">YouAds</h1>
            </div>
            <hr>
        </div>
      </div>

      <div class="row">
        <div class="container navDash">
            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../assets/img/icons/home.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Home
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../assets/img/icons/video.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        My Videos
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../assets/img/icons/video.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        My Earnings
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../assets/img/icons/video.png"/>
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Reports
                  </h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../assets/img/icons/video.png" height="40px" width="40px"/>
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Filter Ads
                  </h2>
                </div>
            </div>
        </div>
      </div>

  </div>

    <div class="col-5">
    </div>
  </div>
</div>
