<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 dashcolMain">
      <div class="row dashTitle">
        <div class="col-12 dashcol">
            <div class="container dashTitleTextContainer">
                <h1 class="dashTitleText">YouAds</h1>
            </div>
            <hr>
        </div>
      </div>

      <div class="row">
        <div class="container navDash">
            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../../assets/img/icons/home.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Home
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../../assets/img/icons/video.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        My Videos
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../../assets/img/icons/video.png" />
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        My Earnings
                  </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../../assets/img/icons/video.png"/>
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Reports
                  </h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-3">
                    <img class="navIcon" src="../../../assets/img/icons/video.png" height="40px" width="40px"/>
                </div>
                <div class="col-9">
                  <h2 class="navText">
                        Filter Ads
                  </h2>
                </div>
            </div>
        </div>
      </div>
  </div>


  <div class="col-10">

      <div class="row mainFirstRow">
          <div class="col-6 offset-1">
              <div class="estimatedCard">
                  <div class="row">
                      <h1 class="cardHeader">Estimated Ad Revenue</h1>
                  </div>
                  <div class="row">
                    <div class="col-3 removePush">
                      <p class="cardHeader removePush">Today's Earnings</p>
                      <h2 class="cardHeader">$15.13</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">Yesterday</p>
                        <h2 class="cardHeader">$50.12</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Week</p>
                        <h2 class="cardHeader">$123.12</h2>
                    </div>  
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Month</p>
                        <h2 class="cardHeader">$1234.12</h2>
                    </div>                      
                  </div>
                </div>
          </div>
          <div class="col-3">
            <div class="estimatedCard">
              <h1 class="cardHeader">Ads Balance</h1>
              <br>
              <h1 class="cardHeader">$1393.50</h1>
            </div>
          </div>
      </div>

      <div class="row mainRow">
          <div class="col-6 offset-1">
              <div class="subRevenueCard">
                  <div class="row">
                      <h1 class="cardHeader">Estimated Subscriber Revenue</h1>
                  </div>
                  <div class="row">
                    <div class="col-3 removePush">
                      <p class="cardHeader removePush">Today's Earnings</p>
                      <h2 class="cardHeader">$15.13</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">Yesterday</p>
                        <h2 class="cardHeader">$50.12</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Week</p>
                        <h2 class="cardHeader">$123.12</h2>
                    </div>  
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Month</p>
                        <h2 class="cardHeader">$1234.12</h2>
                    </div>                      
                  </div>
                </div>
          </div>
          <div class="col-3">
            <div class="subRevenueCard">
              <h1 class="cardHeader">Subscriber Balance</h1>
              <br>
              <h1 class="cardHeader">$1393.50</h1>
            </div>
          </div>
      </div>

      <div class="row mainRow">
          <div class="col-6 offset-1">
              <div class="donationRevenueCard">
                  <div class="row">
                      <h1 class="cardHeader">Estimated Donation Revenue</h1>
                  </div>
                  <div class="row">
                    <div class="col-3 removePush">
                      <p class="cardHeader removePush">Today's Earnings</p>
                      <h2 class="cardHeader">$15.13</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">Yesterday</p>
                        <h2 class="cardHeader">$50.12</h2>
                    </div>
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Week</p>
                        <h2 class="cardHeader">$123.12</h2>
                    </div>  
                    <div class="col-3 removePush">
                        <p class="cardHeader removePush">This Month</p>
                        <h2 class="cardHeader">$1234.12</h2>
                    </div>                      
                  </div>
                </div>
          </div>
          <div class="col-3">
            <div class="donationRevenueCard">
              <h1 class="cardHeader">Donation Balance</h1>
              <br>
              <h1 class="cardHeader">$1393.50</h1>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
