.buttonEarning {
	color:#f7eaf4;
	margin-top:5px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	margin-left:-35px;
}

.imageHandShift {
	margin-top:10px;
}

.textboxShift {
	margin-top:5px;
}