<div id="headerwrap"> <!-- /main -->
  <div class="container">
    <div class="row mt">
      <div class="col-xl-6">
          <div class="row">
            <div class="col-xl-12">
              <h1>Earn Money $$$<br/>
                From Your Content!</h1>
            </div>
          </div>
          <div class="row textboxShift">
              <div class="col-xl-8">
                <input type="email" class="form-control form-control-length" id="email" placeholder="Enter your email address"> 
              </div>
          </div>
          <div class="row textboxShift">
              <div class="col-xl-8">
                <input type="email" class="form-control form-control-length" id="vidurl" placeholder="Video URL">       
              </div>
          </div>
          <div class="row">
            <div class="col-xl-4 offset-xl-8">
                <button type="submit" class="btn btn-warning btn-lg buttonEarning">Start Earning!</button>			
            </div>
        </div>
      </div>
      <div class="col-xl-6 imageHandShift">
          <img class="img-responsive" src="assets/img/ipad-hand.png" alt="">
      </div>
    </div>
  </div>